/* Class to hide any element */
.hidden {
    display: none !important;
}

/* Class to hide unchanged build types */
.hidden_statusChanged {
    display: none !important;
}

/* From Deltares.nl */
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    padding-top: 10px;
}

button {
    font-family: Helvetica, Arial, sans-serif !important;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: normal !important;
    color: white;
    background-color: #666;
    border: 3px solid #666;
    padding: 0px 10px;
    border-radius: 5px;
    line-height: 1.5em;
}

button:hover {
    border: 3px solid black !important;
}

#body_wrap {
    min-width: 40em;
    max-width: 100em;
    margin: auto;
}

.header {
    margin: 0.5rem 0px;
    font-size: 1.5rem;
}

#settings {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: 2em;
    row-gap: 1em;
    padding: 1em 2em 2em 2em !important;
}

.wide {
    grid-column: 1/-1;
}

form {
    height: 100%;
}

#settings_textarea {
    resize: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: black !important;
}

.code {
    padding: 1em;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre;
    background-color: #666 !important;
    color: white;
    font-size: 16px;
    line-height: 1.8em;
    border-radius: 0.5em;
    overflow: scroll;
    min-height: 20em;
}

#user {
    position: absolute;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

#user_name {
    display: inline;
}

/* Deltares blue */
#deltares_logo, h1 {
    text-align: center;
    color: #0a28a3;
    fill: #0a28a3; /* SVG */
}

h1 {
    font-size: 24px;
    font-style: italic;
    margin-top: 2px;
    font-weight: normal;
}

/* Default link color and styling */
a {
    color: black;
    text-decoration: none;
}

/* Special link color */
.build.SUCCESS > a {
    color: green;
}

/* Special link color */
.build.FAILURE > a, .build.UNKNOWN > a {
    color: red;
}

/* The ▲ is rather small. */
.build.UNKNOWN > a{
    color: black;
}

/* Overrule link color when hovered */
a:hover {
    color: black !important;
}

/* Project/BuildType link icon ⧉ */
a > div.linkIcon {
    font-weight: normal;
    opacity: 20%;
    margin-left: 5px;
    display: inline-block;
}

/* Project/BuildType link icon ⧉ */
a:hover > div.linkIcon {
    opacity: 100%;
    margin-left: 5px;
    display: inline-block;
}

/* This link should blend in */
#info a, #login a {
    color: white;
}

/* Buttons below the page header */
#buttonList {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin: 10px;
}

/* visible when the user is not logged into TeamCity */
#login {
    text-align: center;
    font-size: 150%;
    padding: 1em !important;
}

/* Hidden divisions */
#login, #info, #settings {
    font-size: 18px;
    margin: 10px;
    padding: 10px;
    color: white;
    background-color: gray;
}

#buttonList .toggle.green {
    background-color: green;
    border-color: green;
}

/* Any project */
#_projects .project {
    margin-left: 20px;
    border-left: 2px dashed lightgray;
    border-top: 2px dashed lightgray;
    padding: 4px;
    padding-right: 0px;
}

/* Top level project */
#_projects.project {
    margin: 0px 10px;
    margin-top: 1em;
}

/* First level of projects. */
#_projects > div.project_wrapper > div.project {
    margin-left: 0px;
    margin-bottom: 2em;
    font-weight: bold;
    font-size: 150%;
}

/* All other levels of projects. */
#_projects > div.project_wrapper > div.project > div.project {
    font-size: initial;
}

/* Hide projects without builds. */
.project:not(:has(.build)) {
    display:none;
}

/* Hide projects with only hidden build types. */
.project:not(:has(.buildType:not(.hidden,.hidden_statusChanged))) {
    display:none;
}

/* A 'build type' contains builds. */
.buildType {
    background-color: #eee;
    font-family: 'Courier New', Courier, monospace;
    font-weight: initial;
    padding: 0.2em;
    margin: 0.2em;
    margin-left: 20px;
    display: grid;
    grid-template-columns: auto fit-content(100%);
    column-gap: 5px;
    grid-template-rows: minmax(1em,);
}

/* Build types where the last build failed. */
.buildType:has(div.buildList > .build:last-child.FAILURE) {
    background-color: #fee !important;
}

/* Build types where the last build succeeded. */
.buildType:has(div.buildList > .build:last-child.SUCCESS) {
    background-color: #efe !important;
}

/* Build types where the last build succeeded. */
.buildType:has(div.buildList > .build:last-child.UNKNOWN) {
    background-color: #fee !important;
}

/* Hide build types without builds. */
.buildType:not(:has(.build)) {
    display:none;
}

/* Name of the build type. */
.buildType > a {
    display: inline-block;
    grid-column: 1;
    word-break: break-all;
}

/* When the last build has a different status than the second-last. */
#toggle_unchanged, .buildType.statusChanged {
    border: 3px solid gold;
}

.buildType:not(.statusChanged) {
    border: 3px solid white;
}

/* List of builds for the build type. */
.buildList {
    display: block;
    grid-column: 2;
    text-align: right;
    white-space: nowrap;
    letter-spacing: 0.0625em;
}

/* ⬤ = build */
.build {
    display: inline-block;
    font-style: initial;
    opacity: 25%;
    text-decoration: none;
}

/* Last build of build type. */
.build:last-child {
    opacity: 100% !important;
}

.build:hover {
    color: black; /* Fix/overrule race-condition in CSS styling */
    opacity: 100%;
    cursor: pointer;
}

.build.newFailed > a {
    border: none;
    color: gold;
    -webkit-text-stroke: 2px red;
}

/* Button to expand build list info. */
.buildListButton {
    display: inline-block;
    grid-column: 3;
}

/* Build steps on expansion of build type. */
.buildSteps {
    display: inline-block;
    background: white;
    margin: 0.5em;
    padding: 1em;
    grid-column: 1 / -1;
    min-width: 0;
    min-height: 0;
}

.buildSteps > p.error {
    font-weight: bold;
    color: rgb(207, 69, 69);
}

.buildSteps > p.warning {
    font-weight: bold;
    color: goldenrod;
}